<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View single choice</title>
</head>
<body>
<h1>View single choice</h1>
<table>
    <tr>
        <th>Id</th>
        <td data-th-text="${question.id}"></td>
    </tr>
    <tr>
        <th>Question</th>
        <td data-th-text="${question.question}"></td>
    </tr>
    <tr>
        <th>Answer</th>
        <td data-th-text="${question.answer}"></td>
    </tr>
    <tr>
        <th>Option A.</th>
        <td data-th-text="${question.optionA}"></td>
    </tr>
    <tr>
        <th>Option B.</th>
        <td data-th-text="${question.optionB}"></td>
    </tr>
    <tr>
        <th>Option C.</th>
        <td data-th-text="${question.optionC}"></td>
    </tr>
    <tr>
        <th>Option D.</th>
        <td data-th-text="${question.optionD}"></td>
    </tr>
</table>
</body>
</html>